<!DOCTYPE html>
<html>
    <head>
        <title>counter</title>
    </head>

    <body>
        <h1> Calories History </h1>

        <p>
        {% if user.is_authenticated %}
        <h3>  {{user.username}}       </h3>
 <a href="/counter/logout/">Logout</a>


{% comment %}
        
<p> Day_list raw: </p> 
<p> raw: {{ day_list}}</p>
{% endcomment %}

<h3>Date Range: {{Date_start}} to {{Date_end}} &mdash; Total: {{dt_range_total}}</h3>        
        {% for day in day_list %}
           <p> Date: {{day.0 }}  Total:{{ day.1}} </p>
   
        
                {% with day|slice:"2:" as meal_list  %}
                  {#<p>raw Meal_list: {{meal_list}}</p>#}
                    {%  for meal in meal_list  %}
                       {#<p>raw Meal: {{meal}}</p>#}
                       <p> {{meal.0}}  {{meal.1}} </P>
                        {% with meal|slice:"2:" as c_list  %}
                            {%  for comp in c_list  %}
                               <p> &bull; {{comp.0}}  {{comp.1}} </P>
                            {% endfor %} 
                        {% endwith %}
                       
                    {% endfor %} 
                {% endwith %}





        {% endfor %}


           


         {% endif %}

       
  
      
    </body>

</html>
