<!DOCTYPE html>
<html>
    <head>
        <title>counter</title>
    </head>

    <body>
        <h1>Review The Days you've entered </h1>

        {% if user.is_authenticated %}
        <h3>  {{user.username}}       </h3>
        <a href="/counter/logout/">Logout</a>
        {% endif %}

        <form action="/counter/Date_range/" method="post">

            {% csrf_token %}
            
            {{form.as_p}}



<p><input type="submit" value="Submit" /></p>

</form>

        
    </body>

</html>