<!DOCTYPE html>
<html>

    <head>
        <title>counter</title>
    </head>

    <body>
        <h1>Welcome To Hit The Mark!!</h1>
        The Calorie Counter That Rocks !! <strong>{{ boldmessage }}</strong><br />
        <a href="/counter/about/">About</a><br />

        <p>  If you're ready to start....  </p>
        <a href="/counter/register/">Register Here</a> 

        <p> If you already have an account go ahead and login </p>
        <a href="/counter/login/">Login</a>


    </body>
 
</html>