<!DOCTYPE html>
<html>
    <head>
        <title>counter</title>
    </head>

    <body>
        <h1>Ingredients Page</h1>

        <p> Please Enter each component of your meal; the calories for one unit of that, component and how many units of that component you ate. Example:  Wheat bread 120 calories 1 slice.

        {% if user.is_authenticated %}
        <h3>  {{user.username}}       </h3>
        {% endif %}

        <form action="/counter/ingredient/" method="post">
        	


            <a href="/counter/logout/">Logout</a>

            {% csrf_token %}
            
            {{form.as_p}}



<p><input type="submit" value="Submit" /></p>

</form>

        
    </body>

</html>