<!DOCTYPE html>
{% load static%}

<html>
    <head>
        <title>counter</title>
    </head>

    <body style = "background-color: #FFCCCC">
        <table><tr>
      <td>  <h1>Which Meal or Snack Are You Recording ?</h1><td>
<td>
        {% if user.is_authenticated %}
        <h3>  {{user.username}}       </h3>
        {% endif %} </td>

        </tr>
            <table>

            {# method posts mealtype with the recorded date extracted from created URL tol match to url stored in Urls file.  #}
        <form action="/counter/{{recorddate}}/" method="post">
        	<a href="/counter/logout/">Logout</a>

            {% csrf_token %}
            
            {{form.as_p}}



<p><input type="submit" value="Submit" /></p>

</form>

        <img src="{% static "bfld.jpg" %}" alt= "pic of autobot rockNout">
    </body>

</html>