<!DOCTYPE html>
<html>
    <head>
        <title>counter</title>
    </head>

    <body>
        <h1>Which Meal or Snack Are You Recording ?</h1>

        {% if user.is_authenticated %}
        <h3>  {{user.username}}       </h3>
        {% endif %}


            {# method posts mealtype with the recorded date extracted from created URL tol match to url stored in Urls file.  #}
        <form action="/counter/{{recorddate}}/" method="post">
        	<a href="/counter/logout/">Logout</a>

            {% csrf_token %}
            
            XXX{{form.as_p}}XXX



<p><input type="submit" value="Submit" /></p>

</form>

        
    </body>

</html>