<!DOCTYPE html>
{% load static%}

<html>
    <head>
        <title>counter</title>
    </head>

    <body style = "background-color: #FFCCCC">
        
        <h1>Which Meal or Snack Are You Recording ?</h1>


        {% if user.is_authenticated %}
        <h3>  {{user.username}}       </h3>
        {% endif %} 

        
            

            {# method posts mealtype with the recorded date extracted from created URL tol match to url stored in Urls file.  #}
        <form action="/counter/{{recorddate}}/" method="post">
        	<a href="/counter/logout/">Logout</a>

                </td>
        </tr>
    </table>
            {% csrf_token %}
            
            {{form.as_p}}



<p><input type="submit" value="Submit" /></p>

</form>

        <img src="{% static "bfld.jpg" %}" alt= "pic of autobot rockNout">
    </body>

</html>